[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.12"

[packages]
agno = "*"
python-dotenv = "*"
openai = "*"
yfinance = "*"
exa-py = "*"
requests = "*"
lxml = "*"
fastapi = "*"
duckduckgo-search = "*"
ddgs = "*"

[dev-packages]

[scripts]
